body,h1,h2,h3,h4,h5,h6,ol,ul,li,dl,dt,dd,p,form,input{
	list-style: none;
	font-weight: normal;
	margin:0;
	padding: 0;
}
body{
	background: #000;
/*	height: 700px;*/
}
a{
	color: #333;
	text-decoration: none;
}
img{
	border:0;
}
input{
	outline: none;
}

/*头部*/
.header{
	width: 100%;
	height: 139px;
	background: #000;
	position: fixed;
	top: 0;
	z-index:999;
}
.header_t{
	width: 950px;
	height: 107px;
	margin: 0 auto;
}
.logo{
	width: 187px;
	height: 77px;
	float: left;
	display: block;
	background: url(../img/logo.jpg) no-repeat -40px -30px;
}
.login{
	width: 70px;
	height: 31px;
	float: right;
	display: block;
	line-height: 31px;
}
.login li{
	display: block;
	float: right;
}
.login a{
	color: #999;
	text-align: right;
	font:12px/1.4 Arial, Helvetica, Verdana, sans-serif;
}
.login a:hover{
	color: #E7CC75;
}
.login span{
	color: #999;
	text-align: right;
	font:12px/1.4 Arial, Helvetica, Verdana, sans-serif;
}
.bigbox{
	width: 100%;
	height: 32px;
	position: relative;
}
.header_b{
	width: 950px;
	height: 32px;
	margin: 0 auto;
}
.nav_l{
	width: 364px;
	height: 32px;
	float: left;
	margin-left: -22px;
}
.erji{
	position: absolute;
	top: 32px;
	left: 0;
	width: 100%;
	height: 345px;
	background: #fff;
	display: none;
	z-index: 999;
}
.erjit{
	width: 100%;
	height: 198px;
	border-bottom: 1px solid #E6E6E6;
}
.erjit_c{
	width: 1000px;
	height: 198px;
	margin: 0 auto;
}
.erjit_cf{
	width: 290px;
	height: 178px;
	float: left;
	margin-top: 20px;
	margin-left: 21px;
	margin-right: 21px;
}
.erjit_cf span{
	display: block;
	height: 24px;
	width: 100%;
	border-bottom: 2px solid #070707;
	color: #030303;
	font-size: 12px;
	line-height: 24px;
}
.nav_list{
	width: 122px;
	height: 120px;
	margin-top: 15px;
	float: left;
}
.header_b .nav_list a{
	height: 24px;
	color: #646464;
	font-size: 12px;
	text-align: left;
	padding-left: 10px;
}
.header_b .nav_list a:hover{
	text-decoration: underline;
}
.erjib{
	width: 1000px;
	height: 146px;
	margin: 0 auto;
}
.erjib li{
	width: 332px;
	height: 146px;
	border-right: 1px solid #E6E6E6;
	display: block;
	float: left;
}
.erjib .img_box{
	display: block;
	width: 290px;
	height: 90px;
	margin-top: 28px;
	margin-left: 21px;
}
.detail{
	display: block;
	width: 222px;
	height: 78px;
	margin-top: 10px;
}
.detail:hover{
	background: #FFF4F5;
}
.detail_word{
	width: 177px;
	height: 70px;
	float: left;
}
.detail_word p{
	text-align: left;
	padding-left: 4px;
}
.detail_word .titlep{
	color:#745825;
}
.nav_r{
	width: 472px;
	height: 32px;
	float: right;
	margin-right: -25px;
}
.header_b a{
	width: 91px;
	height: 32px;
	display: block;
	float: left;
	color: #999;
	text-align: center;
	font:12px/1.4 Arial, Helvetica, Verdana, sans-serif;
}
.navword:hover{
	color:#fff;
}
.content{
	width: 950px;
	/*height: 4080px;*/
	background: #000;
	margin: 0 auto;
	padding-top: 139px;
}
.pic{
	width: 950px;
	height: 440px;
	margin-bottom: 40px;
	overflow: hidden;
	position: relative;
}
.pic img{
	position: absolute;
	top: 0;
	left: 0;
}
.right_nav{
	width: 33px;
	height: 272px;
	position: fixed;
	top: 200px;
	margin-left: 945px;
}
.right_nav li{
	width: 33px;
	height: 33px;
	margin-bottom: 1px;
	color: #666;
	font-size: 13px;
	text-align: center;
	padding-left: 3px;
	line-height: 30px;
	font-family: Tahoma, Arial, sans-serif;
	cursor: pointer;
}
.right_nav .right_nav1{
	background: url(../img/f.png) no-repeat 0 0;
}
.footer{
	width: 837px;
	height: 26px;
	padding-top: 200px;
	margin: 0 auto;
}
.about{
	float: left;
}
.footer li{
	float: left;
}
.footer a{
	color: #fff;
	font-size: 12px;
}
.footer a:hover{
	color: #E7CC75;
	text-decoration: underline;
}
.footer span{
	color: #818181;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
}
.swpz_nav{
	width: 890px;
	height: 60px;
	margin: 0 auto;
}
.swpz_nav span{
	width: 200px;
	height: 60px;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	line-height: 60px;
	padding-left: 6px;
	float:left;
}
.swpz_w{
	float: right;
}
.swpz_w li{
	float: left;
	color: #fff;
	padding-top: 14px;
	padding-right: 6px;
	font-size: 12px;
	color: #494949;
}
.swpz_w a:hover{
	color: #fff;
}
.swpz_special{
	color: #433a31;
}
.mjzj{
	width: 950px;
	height: 86px;
}
.mjzj_title{
	color: #F3F3F1;
    font-size: 22px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 30px;
    float: left;
}
.mjzj_t{
	color: #603F1A;
    font-size: 26px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 10px;
    float: left;
}
.mjzj_content{
	width: 950px;
	height: 530px;
	background: url(../img/19.jpg) no-repeat;
}
.mjzj_contentr{
	width: 284px;
	height: 431px;
	background: rgba(0,0,0,0.8);
	float: right;
	margin-top: 40px;
	margin-right: 16px;
}
.right_title{
	color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: -6px;
    margin-left: 20px;
    font-family: "微软雅黑";
}
.right_picture{
	width: 162px;
	height: 211px;
	margin: 0 auto;
	margin-top: 15px;
}
.mjzj_contentr p{
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	height: 100px;
    width: 248px;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
}
.btn{
	width: 920px;
	height: 74px;
	margin: 0 auto;
	position: relative;
}
.btn div{
	width: 28px;
    height: 74px;
    position: absolute;
    top: 0px;
    cursor: pointer;
}
.btn .btn_l{
	left: 0;
	background: url(../img/7.png);
}
.btn .btn_r{
	right: 0;
	background: url(../img/8.png);
}
.mlbox{
	width: 960px;
	height: 360px;
	margin: 0 auto;
	margin-top: 18px;
	background: #22122D;
}
.ml_title{
	width: 900px;
	height: 89px;
	margin: 0 auto;
	border-bottom: 1px dotted #5B4B65; 
	font-size: 24px;
	color: #fff;
	line-height: 90px;
	margin-bottom: 20px;
}
.ml_content{
	width: 900px;
	height: 240px;
	margin: 0 auto;
}
.ml_content li{
	width: 299px;
	height: 200px;
	border-right: 1px solid #5B4B65;
	float: left; 
}
.ml_t{
	width: 280px;
	height: 33px;	
	margin: 0 auto;
	border-bottom: 1px dashed #EBDDA4;
}
.ml_t span{
	width: 100px;
	color: #EBDDA4;
	font-size: 18px;
	font-weight: bold;
	line-height: 33px;
	display: block;
	float: left;
}
.ml_t a{
	display: block;
	float: right;
	color: #EBDDA4;
	font-size: 14px;
	line-height: 33px;
}
.ml_b{
	width: 250px;
	height: 200px;
	margin-top: 10px;
	margin-left: 18px;
}
.ml_b a{
	display: block;
	/*width: 280px;*/
	line-height: 26px;
	color: #EBDDA4;
	font-size: 12px;
}
.ml_content a:hover{
	color: #fff;
}
.xwxq{
	width: 960px;
	height: 4500px;
	margin: 0 auto;
	background: #fff;
}
.xwxq_title{
	width: 900px;
	height: 90px;
	margin: 0 auto;
	border-bottom: 1px solid #993300;
	color: #000;
	font-size: 22px;
	line-height: 90px;
	font-weight: 10px;
	font-family: "微软雅黑";
}
.xwxq span{
	display: block;
	width: 850px;
	margin: 0 auto;
	line-height: 28px;
	color: #666;
	font-size: 14px;
}
.gzl_1{
	width: 960px;
	height: 473px;
	background: url(../img/31.jpg);
	position: relative;
}
.gzl_x1{
	display: block;
	width: 139px;
	height: 102px;
	position: absolute;
	bottom: 68px;
	right: 140px;
}
.gzl_2{
	width: 960px;
	height: 424px;
	background: url(../img/33.jpg);
}
.gzl_3{
	width: 960px;
	height: 304px;
	background: url(../img/34.jpg);
}
.gzl_4{
	width: 960px;
	height: 187px;
	background: url(../img/35.jpg);
	position: relative;
}
.gzl_list{
	width: 600px;
	height: 180px;
	position: absolute;
	right: 0px;
	top: 5px;
}
.gzl_list li{
	height: 180px;
	width: 150px;
	float: left;
}
.gzl_p{
	display: block;
	margin-left:24px;
	margin-top: 25px;
}
.gzl_w{
	display: block;
	width: 112px;
	height: 22px;
	margin-left:22px;
	margin-top: 8px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	background: url(../img/40.jpg) no-repeat;
}
.gzl_5{
	width: 955px;
	height: 84px;
	border-top: 1px solid #000;
	margin-left: 5px;
}
.gzl_5 span{
	width: 250px;
	color: #000;
	font-size: 28px;
	font-weight: 8px;
	line-height: 84px;
	margin-left: 10px;
	float: left;
}
.gzl_5 ul{
	float: left;
}
.gzl_5 li{
	float: left;
	margin: 0 17px;	
}
.gzl_5 li a{
	line-height: 90px;
	font-size: 16px;
	color: #666;
}
.ppcq{
	width: 950px;
	height: 540px;
	background: url(../img/41.jpg) no-repeat;
	position: relative;
}
.ppcq_nav{
	width: 100%;
	height: 110px;
	background: url(../img/9.png) no-repeat;
	position: absolute;
	left: 0;
	bottom: 0;
}
.ppcq_nav li{
	width: 120px;
	float: left;
	color: #745825;
	font-size: 15px;
	line-height: 36px;
	font-family: "微软雅黑";
	font-weight: bold;
	cursor: pointer;
}
.ppcq_title{
	width: 890px;
	height: 60px;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
}
.ppcq_title span{
	color:#603F1A;
	font-size: 30px;
	font-family: "微软雅黑";
	font-weight: normal;
}
.kscc{
	width: 950px;
	height: 605px;
}
.kscc_picbox{
	width: 950px;
	height: 515px;
	position: relative;
}
.kscc_picbox img{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.kscc_navbox{
	width: 950px;
	height: 90px;
	background: #332E2B url(../img/bg0.jpg) repeat-x;
}
.kscc_navbox li{
	width: 144px;
	height: 70px;
	float: left;
	background: url(../img/bg.jpg);
	position: relative;
	cursor: pointer;
}
.kscc_navbox span{
	display: block;
	color: #e5bca1;
	font-size: 12px;
	position: absolute;
	top: 28px;
	left: 55px;
}
.kscc_navbox .show{
	background: url(../img/bg1.jpg);
}
.aboutus{
	width: 950px;
	height: 400px;
	border: 1px solid #332E2B;
	background: url(../img/43.jpg);
	position: relative;
}
.newsbox{
	width: 630px;
	height: 330px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.jtbox{
	width: 70px;
	height: 50px;
	position: absolute;
	right: 30px;
	bottom: 0px;
}
.btn_left{
	width: 24px;
	height: 24px;
	float: left;
	background: url(../img/1.gif);
	cursor: pointer;
}
.btn_right{
	width: 24px;
	height: 24px;
	float: right;
	background: url(../img/2.gif);
	cursor: pointer;
}
.newsbox li{
	width: 100%;
	height: 30px;
	border-bottom: 1px dotted #555;
}
.newsbox a{
	width: 500px;
	display: block;
	float: left;
	font-size: 12px;
	color: #EBDDA4;
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
}
.newsbox span{
	color: #FFFF66;
	font-size: 13px;
	float: right;
	line-height: 30px;
	padding-right: 10px;
}

